<div class="title_h">
    <h1 class="text-center">Computers Status</h1>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="accordion ">
            <div class="card m-3">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapsethree">
                        <h4>Computers delivered <span class="badge badge-light">
                                <%=@cdeliverede.count %></span></h4>
                    </a>
                </div>
                <div id="collapsethree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table id="dtVerticalScrollExample" class="table table-striped" cellspacing="0" width="100%">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">SERIAL</th>
                                    <th scope="col">BRAND</th>
                                    <th scope="col">USER</th>
                                    <th scope="col">DATE REGISTER</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @cdeliverede.each do |computer|%>
                                <tr>
                                    <td>
                                        <strong>
                                            <%= computer.id%></strong>
                                    </td>
                                    <td>
                                        <%= computer.serial%>
                                    </td>
                                    <td>
                                        <%= computer.brand%>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= computer.subscriptions.last.user.name %></strong>
                                    </td>
                                    <td>
                                        <%= computer.subscriptions.last.updated_at %>
                                    </td>
                                    <td>
                                        <%= render 'confirmations/form' , subscription: computer.subscriptions.last, confirmation: computer.subscriptions.last.build_confirmation%>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapsetwo">
                        <h4>Computers on_loan <span class="badge badge-light">
                                <%= @con_loane.count %></span></h4>
                    </a>
                </div>
                <div id="collapsetwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table id="dtVerticalScrollExample" class="table table-striped" cellspacing="0" width="100%">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">SERIAL</th>
                                    <th scope="col">BRAND</th>
                                    <th scope="col">USER</th>
                                    <th scope="col">DATE REGISTER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @con_loane.each do |computer|%>
                                <tr>
                                    <td>
                                        <strong>
                                            <%= computer.id%>
                                        </strong>
                                    </td>
                                    <td>
                                        <%= computer.serial%>
                                    </td>
                                    <td>
                                        <%= computer.brand%>
                                    </td>
                                    <td>
                                        <strong>
                                            <%= computer.subscriptions.last.user.name %></strong>
                                    </td>
                                    <td>
                                        <%= computer.subscriptions.last.updated_at %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <h4> Computers available <span class="badge badge-light">
                                <%= @cavailable.count %></span> </h4>
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table id="dtVerticalScrollExample" class="table table-striped" cellspacing="0" width="100%">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">SERIAL</th>
                                    <th scope="col">BRAND</th>

                                </tr>
                            </thead>

                            <tbody>
                                <% @cavailable.each do |computer|%>
                                <tr>
                                    <td class="serial">
                                        <%= computer.id %>
                                    </td>
                                    <td class="serial">
                                        <%= computer.serial %>
                                    </td>
                                    <td class="serial">
                                        <%= computer.brand %>
                                    </td>

                                </tr>
                                <% end %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.collapse').collapse()
</script>