<div class="title_h">
    <h1 class="text-center">Welcome to subscriptions</h1>
</div>
<div class="row r_list">
    <div class="col-sm-4">
        <div class="card w-50">
            <div class="card-header">
                <h4>Computador Registrado
                </h4>
                <% if @mycomputer%>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item  list_button">
                            <%= @mycomputer.serial %>
                            <%= @mycomputer.status %>
                            <%= render 'subscriptions/form', computer: @mycomputer, subscription:@mycomputer.subscriptions.last%>
                        </li>
                    </ul>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card w-50">
            <div class="card-header">
                <h4 class="card-title">Listado de computadores Disponibles</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <% @computers.each do |computer|%>
                    <li class="list-group-item list_button">
                        <div class="serial"><%= computer.serial %></div>
                        <%= render 'subscriptions/form', computer: computer, subscription:computer.subscriptions.new%>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>