<div class="title_h">
    <h1 class="text-center">Welcome to subscriptions</h1>
</div>
<div class="row r_list">
    <div class="col-sm-6">
        <div class="card w-50">
            <div class="card-header">
                <h4>Computer Registered
                </h4>
            </div>
            <% if @mycomputer%>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">SERIAL</th>
                            <th scope="col">BRAND</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">REGISTER DATE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <%= @mycomputer.id %>
                            </th>
                            <td class="text-uppercase">
                                <%= @mycomputer.serial %>
                            </td>
                            <td>
                                <%= @mycomputer.brand %>
                            </td>
                            <td>
                                <%= @mycomputer.status%>
                            </td>
                            <td>
                                <%= @mycomputer.subscriptions.last.updated_at%>
                            </td>
                            <td>
                                <%= render 'subscriptions/form', computer: @mycomputer, subscription:@mycomputer.subscriptions.last%>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <% end %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card w-50">
            <div class="card-header">
                <h4 class="card-title">Computers Available</h4>
            </div>
            <div class="card-body">
                <input class="form-control" id="myInput" type="text" placeholder="Search by id or serial number..">
                <table class="table table-striped header-fixed" cellspacing="0" width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">SERIAL</th>
                            <th scope="col">BRAND</th>
                            <th scope="col">SUBSCRIBE</th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                        <% @computers.each do |computer|%>
                        <% if computer.campu_id == current_user.campu_id%>
                        <tr>
                            <td class="serial">
                                <%= computer.id %>
                            </td>
                            <td class="text-uppercase">
                                <%= computer.serial %>
                            </td>
                            <td class="serial">
                                <%= computer.brand %>
                            </td>
                            <td>
                                <%= render 'subscriptions/form', computer: computer, subscription:computer.subscriptions.new%>
                            </td>
                        </tr>
                        <% end %>
                        <% end %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>