<!DOCTYPE html>
<html>

<head>
  <title>HolbertonPcManagment</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

</head>

<body>

<%= render 'layouts/nav'%>
  <div class="section">
    <div class="overlay"></div>
    <div class="container">
      <div class= "cont-flash-messages">
        <% flash.each do |key, value| %> 
          <% if value.is_a?(Array) %>
            <% value.each do |element|%>                            
              <div class="alert alert-<%= key %> alert-dismissible" style= "z-index: 1040;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= element %>                
              </div>
            <% end %>
          <% else %>
            <% key = key == 'notice'? 'info' : key %>
            <% key = key == 'alert'? 'warning' : key %>   
            <div class="alert alert-<%= key %>" style= "z-index: 1040;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= value %>            
            </div>
          <% end %>        
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>

</html>